.margin-t-10
{
  margin-top: 10px !important;
}
.margin-t-20
{
  margin-top: 20px !important;
}
.margin-t-30
{
  margin-top: 30px !important;
}
.margin-t-40
{
  margin-top: 40px !important;
}
.margin-t-50
{
  margin-top: 50px !important;
}
.margin-t-60
{
  margin-top: 60px !important;
}
.margin-b-10
{
  margin-bottom: 10px !important;
}
.margin-b-20
{
  margin-bottom: 20px !important;
}
.margin-b-30
{
  margin-bottom: 30px !important;
}
.margin-b-40
{
  margin-bottom: 40px !important;
}
.center
{
  margin: 0 auto;
  text-align: center;
}

.orange
{
  color: #EA6329 !important;
}
.blue
{
  color: #013155 !important;
}
.navbar-header
{
  float: none;
}
.slogan {
    font-size: 36px;
    height: 50px;
    line-height: 40px;
    padding: 15px;
    padding-top: 25px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.navbar-brand
{
    font-size: 26px;
    font-weight: bold;
}
h2.orange.center
{
  font-weight: bold;
}

.navbar-nav > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color: #013155 !important;
    font-weight: bold;
    font-size: 16px;
}

.navbar-nav > li > a:hover, .navbar-nav > li.active > a
{
  background-color:#013155 !important;
  color: #fff !important;
}
#content-wrap {
    width: 100% !important;
    padding-left: 0px;
    padding-right: 0px;
    min-height: 710px;
    background-color: #013155;
}
figure#main-img img {
    border-bottom: 3px solid #ff6600;
    width: 100%;
}
.widget-container
{
  position: absolute;
  margin-top: 70px;
  width: 100% !important;
}

#content-wrap div.panel
{
  background-color: rgba(255, 255, 255, 0.78);
}
.btn-primary {
  color: #ffffff;
  background-color: #EA6329;
  border-color: #C14713;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #E25416;
  border-color: #C14713;
}

ul.check > li:before {
    content: '✔';   
    margin-left: -1em; 
    margin-right: .100em;
}

ul.check > li 
{

    margin-bottom: 15px;
    font-size: 17px;
}

ul.check{    
  padding-left:20px;
  text-indent:2px;
  list-style: none;
  list-style-position:outside;   
}
#carousel
{
  width: 600px;
}
footer
{
  background-color: #013155;
  color: #fff;
  /*bottom: 0;
  position: absolute;*/
  width: 100%;
}
footer a
{
  color: #fff;
}


@media (max-width: 767px) {
  .slogan {
    display: none !important;
  }  
  footer
  {
    padding-top: 160px !important;
  }
}